<!--
File: app.component.html
Author: Sánta Renáta Diána
Copyright: 2022, Sánta Renáta Diána
Group: Szoft II N
Date: 2022-11-23
Github: https://github.com/SantaRenata/
Licenc: GNU GPL
-->

<div class="container">
    <h1>Feladat 0354</h1>
    <h2>Két egyenlő oldalú telek terület számítása</h2>

    <div class="teglalap">
        <div>
            <label for="aside" class="form-label">A oldal:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" [(ngModel)] = "aside" id="aside">
            </div>
        </div>

        <div class="mb-3">
            <label for="bside" class="form-label">B oldal: </label>
            <div class="col-sm-2">
                <input type="text" class="form-control" [(ngModel)] = "bside" id="bside">
            </div>
        </div>

        <button class="btn btn-dark mb-2" (click)="calcArea()">Számít</button>

        <div class="mb-3" *ngIf="edited">
            <label for="result" class="form-label" >Terület: </label>
            <div class="col-sm-2">
                <input type="text" class="form-control" [(ngModel)] = "area" disabled>
            </div>
        </div>
        
    </div>

    <div class="bg-secondary text-center">Sánta Renáta Diána, Szoft II N, 2022-11-23</div>

</div>